# Personal environment configuration
.env

# Visual Studio Code
.vscode
*.code-workspace
.history/

# IntelliJ based development tools
.idea/

# Other development/testing only folders and files
logs
*.log
test
